In [1]:
# 1. Import libraries

from sqlalchemy import create_engine as ce
import zipfile
import pandas as pd

# open zipped voyages dataset
with zipfile.ZipFile("voyages_202301.csv.zip") as z:
   # open the csv file in the dataset
   with z.open("voyages_202301.csv") as f:
       
      # read the dataset
        voyages_df = pd.read_csv(f)

        
#read in vessels dataset
vessels_df = pd.read_csv('fishing-vessels-v2.csv')


#read in anchorages dataset
anchorages_df = pd.read_csv('named_anchorages_v2_20221206.csv')

C:\Users\smbar\AppData\Local\Temp\ipykernel_28024\3811575444.py:21: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  anchorages_df = pd.read_csv('named_anchorages_v2_20221206.csv')

In [2]:
voyages_dfClean = pd.DataFrame(voyages_df[["mmsi","trip_start_anchorage_s2id","trip_end_anchorage_s2id"]])
voyages_dfClean

              mmsi trip_start_anchorage_s2id trip_end_anchorage_s2id
0        235080015                  00813f29                00998023
1        235080015                  00813f29                009a2b59
2        710005568                  00813f29                0099819d
3        257156000                  0083000d                0083a667
4        374393000                  0083000d                008f8729
...            ...                       ...                     ...
920018   999999920          NO_PREVIOUS_DATA                346c4251
920019  1000839689          NO_PREVIOUS_DATA                35919e73
920020  1020001801          NO_PREVIOUS_DATA                359b3fd5
920021  1056833276          NO_PREVIOUS_DATA                33a9b179
920022  1068524077          NO_PREVIOUS_DATA                3452d96b

[920023 rows x 3 columns]

In [3]:
vessels_dfClean = pd.DataFrame(vessels_df[["mmsi","flag_gfw","vessel_class_gfw","length_m_gfw","tonnage_gt_gfw","fishing_hours_2018","fishing_hours_2019","fishing_hours_2020"]])
vessels_dfClean

,mmsi,flag_gfw,vessel_class_gfw,length_m_gfw,tonnage_gt_gfw,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
0,40120000,GRC,trawlers,26.30,133.00,NaN,NaN,674.10
1,444002410,KOR,tuna_purse_seines,79.60,2132.33,NaN,NaN,144.43
2,987654320,PHL,tuna_purse_seines,66.40,1081.00,NaN,NaN,545.33
3,554128120,NRU,tuna_purse_seines,71.79,1350.00,NaN,NaN,587.01
4,112119600,USA,fishing,24.64,85.48,NaN,NaN,318.22
...,...,...,...,...,...,...,...,...
114186,601523000,ZAF,other_purse_seines,29.29,163.90,268.53,138.34,309.70
114187,601554000,ZAF,other_purse_seines,29.82,135.52,80.66,186.25,313.66
114188,601556000,ZAF,other_purse_seines,33.97,275.32,140.74,203.67,220.57
114189,601039500,ZAF,other_purse_seines,26.86,124.85,317.80,159.73,196.31
114190,601557000,ZAF,other_purse_seines,30.82,190.00,NaN,NaN,NaN

In [4]:
anchorages_dfClean = pd.DataFrame(anchorages_df[["s2id","lat","lon","label","sublabel","iso3"]])
anchorages_dfClean

            s2id        lat         lon              label     sublabel iso3
0       477eac73  45.472335   12.448750            ITA-196    CA' SAVIO  ITA
1       3442a529  25.183666  121.403120  TAMSUI FISH WHARF     TAN-SHUI  TWN
2       3442a52f  25.184004  121.410104  TAMSUI FISH WHARF     TAN-SHUI  TWN
3       3442a4d5  25.189911  121.397634  TAMSUI FISH WHARF     TAN-SHUI  TWN
4       3442a4d7  25.184666  121.397444  TAMSUI FISH WHARF     TAN-SHUI  TWN
...          ...        ...         ...                ...          ...  ...
166477  358bedcd  39.923727  119.867276        QINHUANGDAO  QINHUANGDAO  CHN
166478  358bec83  39.973508  119.825156        QINHUANGDAO  QINHUANGDAO  CHN
166479  358bec85  39.968306  119.824650        QINHUANGDAO  QINHUANGDAO  CHN
166480  358beb71  39.984955  119.829116        QINHUANGDAO  QINHUANGDAO  CHN
166481  358bf289  39.886896  119.832746        QINHUANGDAO  QINHUANGDAO  CHN

[166482 rows x 6 columns]

In [5]:
vessels_dfClean["fishing_hours_2018"].fillna(0,inplace = True)
vessels_dfClean

,mmsi,flag_gfw,vessel_class_gfw,length_m_gfw,tonnage_gt_gfw,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
0,40120000,GRC,trawlers,26.30,133.00,0.00,NaN,674.10
1,444002410,KOR,tuna_purse_seines,79.60,2132.33,0.00,NaN,144.43
2,987654320,PHL,tuna_purse_seines,66.40,1081.00,0.00,NaN,545.33
3,554128120,NRU,tuna_purse_seines,71.79,1350.00,0.00,NaN,587.01
4,112119600,USA,fishing,24.64,85.48,0.00,NaN,318.22
...,...,...,...,...,...,...,...,...
114186,601523000,ZAF,other_purse_seines,29.29,163.90,268.53,138.34,309.70
114187,601554000,ZAF,other_purse_seines,29.82,135.52,80.66,186.25,313.66
114188,601556000,ZAF,other_purse_seines,33.97,275.32,140.74,203.67,220.57
114189,601039500,ZAF,other_purse_seines,26.86,124.85,317.80,159.73,196.31
114190,601557000,ZAF,other_purse_seines,30.82,190.00,0.00,NaN,NaN

In [6]:
vessels_dfClean["fishing_hours_2019"].fillna(0,inplace = True)
vessels_dfClean

,mmsi,flag_gfw,vessel_class_gfw,length_m_gfw,tonnage_gt_gfw,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
0,40120000,GRC,trawlers,26.30,133.00,0.00,0.00,674.10
1,444002410,KOR,tuna_purse_seines,79.60,2132.33,0.00,0.00,144.43
2,987654320,PHL,tuna_purse_seines,66.40,1081.00,0.00,0.00,545.33
3,554128120,NRU,tuna_purse_seines,71.79,1350.00,0.00,0.00,587.01
4,112119600,USA,fishing,24.64,85.48,0.00,0.00,318.22
...,...,...,...,...,...,...,...,...
114186,601523000,ZAF,other_purse_seines,29.29,163.90,268.53,138.34,309.70
114187,601554000,ZAF,other_purse_seines,29.82,135.52,80.66,186.25,313.66
114188,601556000,ZAF,other_purse_seines,33.97,275.32,140.74,203.67,220.57
114189,601039500,ZAF,other_purse_seines,26.86,124.85,317.80,159.73,196.31
114190,601557000,ZAF,other_purse_seines,30.82,190.00,0.00,0.00,NaN

In [7]:
vessels_dfClean["fishing_hours_2020"].fillna(0,inplace = True)
vessels_dfClean

,mmsi,flag_gfw,vessel_class_gfw,length_m_gfw,tonnage_gt_gfw,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020
0,40120000,GRC,trawlers,26.30,133.00,0.00,0.00,674.10
1,444002410,KOR,tuna_purse_seines,79.60,2132.33,0.00,0.00,144.43
2,987654320,PHL,tuna_purse_seines,66.40,1081.00,0.00,0.00,545.33
3,554128120,NRU,tuna_purse_seines,71.79,1350.00,0.00,0.00,587.01
4,112119600,USA,fishing,24.64,85.48,0.00,0.00,318.22
...,...,...,...,...,...,...,...,...
114186,601523000,ZAF,other_purse_seines,29.29,163.90,268.53,138.34,309.70
114187,601554000,ZAF,other_purse_seines,29.82,135.52,80.66,186.25,313.66
114188,601556000,ZAF,other_purse_seines,33.97,275.32,140.74,203.67,220.57
114189,601039500,ZAF,other_purse_seines,26.86,124.85,317.80,159.73,196.31
114190,601557000,ZAF,other_purse_seines,30.82,190.00,0.00,0.00,0.00

In [8]:
mergedvoyagesvessels= pd.merge(vessels_dfClean,voyages_dfClean, how='inner', on='mmsi')
mergedvoyagesvessels

,mmsi,flag_gfw,vessel_class_gfw,length_m_gfw,tonnage_gt_gfw,fishing_hours_2018,fishing_hours_2019,fishing_hours_2020,trip_start_anchorage_s2id,trip_end_anchorage_s2id
0,124072890,ESP,trawlers,23.27,79.46,0.0,0.0,62.42,0d621a21,0d621a23
1,316041844,CAN,fishing,NaN,54.00,0.0,0.0,46.12,4b561033,4b561033
2,316024428,CAN,fishing,NaN,62.00,0.0,0.0,35.86,4b5674a9,4b5674a9
3,316044217,CAN,fishing,NaN,54.00,0.0,0.0,317.23,4b542ecf,4b542ecf
4,316044217,CAN,fishing,NaN,54.00,0.0,0.0,317.23,4b542ecf,4b542ecf
...,...,...,...,...,...,...,...,...,...,...
87765,601557000,ZAF,other_purse_seines,30.82,190.00,0.0,0.0,0.00,1c33672d,1c349e75
87766,601557000,ZAF,other_purse_seines,30.82,190.00,0.0,0.0,0.00,1c33672d,1c349e75
87767,601557000,ZAF,other_purse_seines,30.82,190.00,0.0,0.0,0.00,1c349c41,1c349c41
87768,601557000,ZAF,other_purse_seines,30.82,190.00,0.0,0.0,0.00,1c349c41,1c349c41
87769,601557000,ZAF,other_purse_seines,30.82,190.00,0.0,0.0,0.00,1c349e75,1c33672d

In [9]:
voyagesvessels= mergedvoyagesvessels[['mmsi', 'flag_gfw','trip_start_anchorage_s2id', 'trip_end_anchorage_s2id']]
voyagesvessels

            mmsi flag_gfw trip_start_anchorage_s2id trip_end_anchorage_s2id
0      124072890      ESP                  0d621a21                0d621a23
1      316041844      CAN                  4b561033                4b561033
2      316024428      CAN                  4b5674a9                4b5674a9
3      316044217      CAN                  4b542ecf                4b542ecf
4      316044217      CAN                  4b542ecf                4b542ecf
...          ...      ...                       ...                     ...
87765  601557000      ZAF                  1c33672d                1c349e75
87766  601557000      ZAF                  1c33672d                1c349e75
87767  601557000      ZAF                  1c349c41                1c349c41
87768  601557000      ZAF                  1c349c41                1c349c41
87769  601557000      ZAF                  1c349e75                1c33672d

[87770 rows x 4 columns]

In [10]:
voyagesanchorages_df= pd.merge(voyagesvessels, anchorages_dfClean,left_on='trip_start_anchorage_s2id', right_on='s2id')
voyagesanchorages_df

,mmsi,flag_gfw,trip_start_anchorage_s2id,trip_end_anchorage_s2id,s2id,lat,lon,label,sublabel,iso3
0,124072890,ESP,0d621a21,0d621a23,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
1,224102280,ESP,0d621a21,0d621a1f,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
2,224171140,ESP,0d621a21,0d621a19,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
3,224072890,ESP,0d621a21,0d621a1f,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
4,224140280,ESP,0d621a21,0d621a19,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
...,...,...,...,...,...,...,...,...,...,...
87354,601821000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87355,601821000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87356,601818000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87357,601824000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87358,601824000,ZAF,1c33672f,1c349c41,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF

In [11]:
voyagesanchorages_df.rename(columns= {'lat':'lat_start', 'lon':'lon_start'},inplace=True)
voyagesanchorages_df

,mmsi,flag_gfw,trip_start_anchorage_s2id,trip_end_anchorage_s2id,s2id,lat_start,lon_start,label,sublabel,iso3
0,124072890,ESP,0d621a21,0d621a23,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
1,224102280,ESP,0d621a21,0d621a1f,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
2,224171140,ESP,0d621a21,0d621a19,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
3,224072890,ESP,0d621a21,0d621a1f,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
4,224140280,ESP,0d621a21,0d621a19,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
...,...,...,...,...,...,...,...,...,...,...
87354,601821000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87355,601821000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87356,601818000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87357,601824000,ZAF,1c33672f,1c33672d,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF
87358,601824000,ZAF,1c33672f,1c349c41,1c33672f,-32.772106,18.150764,ZAF-17,MOROCCO,ZAF

In [12]:
finaltripend_df= pd.merge(voyagesanchorages_df, anchorages_dfClean,left_on='trip_end_anchorage_s2id', right_on='s2id')
finaltripend_df

,mmsi,flag_gfw,trip_start_anchorage_s2id,trip_end_anchorage_s2id,s2id_x,lat_start,lon_start,label_x,sublabel_x,iso3_x,s2id_y,lat,lon,label_y,sublabel_y,iso3_y
0,124072890,ESP,0d621a21,0d621a23,0d621a21,38.506097,-0.220061,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP,0d621a23,38.506866,-0.218188,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
1,224071980,ESP,0d6206cb,0d621a23,0d6206cb,38.566465,-0.052867,ALTEA,ALTEA,ESP,0d621a23,38.506866,-0.218188,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
2,224100160,ESP,0d6206cb,0d621a23,0d6206cb,38.566465,-0.052867,ALTEA,ALTEA,ESP,0d621a23,38.506866,-0.218188,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
3,224155590,ESP,0d6206cb,0d621a23,0d6206cb,38.566465,-0.052867,ALTEA,ALTEA,ESP,0d621a23,38.506866,-0.218188,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
4,224102280,ESP,0d621a19,0d621a23,0d621a19,38.505027,-0.218712,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP,0d621a23,38.506866,-0.218188,LA VILA VILLAJOYOSA,VILLAJOYOSA,ESP
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
87354,367139050,USA,5408ca49,5408ca49,5408ca49,56.465621,-132.389948,WRANGELL,WRANGELL,USA,5408ca49,56.465621,-132.389948,WRANGELL,WRANGELL,USA
87355,367575760,USA,54c3c39f,5485a217,54c3c39f,43.712731,-124.105257,BOLON ISLAND,REEDSPORT,USA,5485a217,48.721980,-122.514728,BELLINGHAM,BELLINGHAM,USA
87356,367550710,USA,80dd3a03,80dd3b51,80dd3a03,33.702541,-118.203585,LONG BEACH,LOS ANGELES,USA,80dd3b51,33.655273,-118.119622,LONG BEACH,LONG BEACH,USA
87357,367772770,USA,889fb319,889e4c81,889fb319,29.389982,-89.594699,USA-1459,VENICE,USA,889e4c81,29.460237,-89.624261,USA-1157,STEUTSPASS,USA
87358,574561573,VNM,31756375,3175639f,31756375,10.230596,107.057049,HO CHI MINH,HOCHIMINH,VNM,3175639f,10.230283,107.050326,HO CHI MINH,HO CHI MINH,VNM

In [13]:
finaltripend_df.rename(columns={'lat':'lat_end','lon':'lon_end',}, inplace=True)

In [14]:
finaltripend_df.drop(['s2id_x','label_x','sublabel_x', 'iso3_x','s2id_y','label_y','sublabel_y','iso3_y'], axis=1, inplace=True)
finaltripend_df

,mmsi,flag_gfw,trip_start_anchorage_s2id,trip_end_anchorage_s2id,lat_start,lon_start,lat_end,lon_end
0,124072890,ESP,0d621a21,0d621a23,38.506097,-0.220061,38.506866,-0.218188
1,224071980,ESP,0d6206cb,0d621a23,38.566465,-0.052867,38.506866,-0.218188
2,224100160,ESP,0d6206cb,0d621a23,38.566465,-0.052867,38.506866,-0.218188
3,224155590,ESP,0d6206cb,0d621a23,38.566465,-0.052867,38.506866,-0.218188
4,224102280,ESP,0d621a19,0d621a23,38.505027,-0.218712,38.506866,-0.218188
...,...,...,...,...,...,...,...,...
87354,367139050,USA,5408ca49,5408ca49,56.465621,-132.389948,56.465621,-132.389948
87355,367575760,USA,54c3c39f,5485a217,43.712731,-124.105257,48.721980,-122.514728
87356,367550710,USA,80dd3a03,80dd3b51,33.702541,-118.203585,33.655273,-118.119622
87357,367772770,USA,889fb319,889e4c81,29.389982,-89.594699,29.460237,-89.624261
87358,574561573,VNM,31756375,3175639f,10.230596,107.057049,10.230283,107.050326

In [18]:
finaltripend_df.to_csv('Finalcleanedvoyages.csv', index=False)

In [15]:
mergedvoyagesvessels.to_csv('CleanMergedvoyages.csv', index= False)

In [16]:
vessels_dfClean.to_csv('VesselsClean.csv', index = False)

In [17]:
anchorages_dfClean.to_csv('AnchoragesClean.csv', index = False)

PermissionError: [Errno 13] Permission denied: 'AnchoragesClean.csv'